# Database
DATABASE_URL=postgresql://neondb_owner:npg_ANObo1gF7ymn@ep-flat-poetry-ap9e0f4k-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Auth
AUTH_SECRET=some_secret_jkhdgkjhdjkhgsjkhgkjlshghsug
GITHUB_ID=Ov23liUKiKJ0lriH7cAY
GITHUB_SECRET=23414c35e2d50ae15e26759f7a9b3fb1fb811e67
